
{% if c %}
<h1>{{ c.titre }}</h1>
par {{ c.artiste.nom }}<br>
diffusée {{ c.diffusion_set.count }} fois {% if c.diffusion_set.count > 0 %}(dernière diffusion: {{ c.last_diff }}){% endif %}
<br>
par le même artiste: {{ c.artiste.count_chansons }} chanson{{ c.artiste.count_chansons|pluralize }}
<br><br>
{% if c.has_youtubekey %}
<iframe width="420" height="315" src="http://www.youtube.com/embed/{{ c.youtubekey }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% else %}
    <p>Chanson pas disponible.</p>
{% endif %}
